<div class="container">
    <div class="row">
        <div class="row text-center">
            <div class="col col-md-6 col-lg-4 offset-lg-4 offset-md-3">
                <app-attending-current></app-attending-current>
            </div>
        </div>
    </div>
    <div class="row mt-4 text-center">
        <h2>Журнали відвідування занять</h2>
    </div>
    <div class="row">
        <div class="row text-center">
            <div class="col col-md-6 col-lg-4" *ngFor="let disc of discList">
                <div class="card">
                    <img [src]="disc.thumb" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ disc.post_title }}</h5>
                        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#pairsAttending" aria-expanded="false"
                                aria-controls="pairsAttending">
                            Журнал
                        </button>
                    </div>
                    <div class="collapse" id="pairsAttending">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-start" *ngFor="let pair of disc.pairs">
                            {{ pair.description }}
                            <p [class]="getStatusClass(pair.status)">
                                ( {{ getStatusText(pair.status) }} )
                            </p>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
